
*.csproj
/CLI/obj
*.sln
/CLI/bin
/Entities/bin
/Entities/obj
/InMemoryRepositories/bin
/InMemoryRepositories/obj
/RepositoryContracts/obj
/RepositoryContracts/bin

/bin/
/obj/
*.cache

/FileRepositories/obj
/FileRepositories/bin

/WebApplication1
/ApiContracts/obj
/WebApi/obj
