@page "/login"
@using ApiContracts
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navigationManager

<h3>Login</h3>

<AuthorizeView Context="authContext">
    <NotAuthorized>
        <h3>Please login!</h3>

        <EditForm Model="@loginRequest" OnValidSubmit="LoginAsync">
            <DataAnnotationsValidator/>
            <ValidationSummary/>

            <InputText id="username" @bind-Value="loginRequest.Username" class="form-control" placeholder="Username"/>
            <InputText id="password" @bind-Value="loginRequest.Password" type="password" class="form-control" placeholder="Password"/>

            <button type="submit" class="btn btn-primary mt-4">Log in</button>
        </EditForm>

        @if (!string.IsNullOrEmpty(errorLabel)) {
            <div class="alert alert-danger">@errorLabel</div>
        }
    </NotAuthorized>
    <Authorized>
        <h3>Hello, @authContext.User.Identity?.Name</h3>
    </Authorized>
</AuthorizeView>

@code {
    private LoginRequestDto loginRequest = new();
    private string? errorLabel;

    private async Task LoginAsync() {
        errorLabel = "";
        try {
            await ((SimpleAuthProvider)AuthProvider).Login(loginRequest.Username, loginRequest.Password);
            navigationManager.NavigateTo("/");
        }
        catch (Exception e) {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}